spring:
  application:
    name: ${vcap.application.name:demo}
  profiles:
    active: local

eureka:
  instance:
    hostname: ${vcap.application.uris[0]:localhost}  
    leaseRenewalIntervalInSeconds: 5
---
spring:
  profiles: cloud
 
eureka:
  client:
    service-url:
      defaultZone: http://server.40.112.214.155.xip.io/eureka/ 
---
spring:
  profiles: local

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
      
server:
  port: 8080
